<header>
        <h1>Nabhahn Kamaal</h1>
        <nav>
            <ul>
                <li><a href="#about-me">About Me</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="#contact-me">Contact Me</a></li>
                <li><a href="https://docs.google.com/document/d/1AGa5nq_qfFvoBJVEd3Pk24spD0Kuvy8YUlTqoCGLIDg/export?format=pdf">Resume</a></li>
            </ul>
        </nav>
    </header>