<header>
        <h1>Nabhahn Kamaal</h1>
        <nav>
            <ul>
                <li><a href="#about-me">About Me</a></li>
                <li><a href="./work.html">Work</a></li>
                <li><a href="#contact-me">Contact Me</a></li>
                <li><a href="https://docs.google.com/document/d/1AGa5nq_qfFvoBJVEd3Pk24spD0Kuvy8YUlTqoCGLIDg/export?format=pdf">Resume</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div id="banner"></div>
        <h2>"Today is your opportunity to build the tomorrow you want" -KEN POIROT</h2>
    </div>

    <main>

        <div id="about-me">

            <h3>About Me</h3>
            <section id="about-me">
                <img id="nabhahn" alt="Image of Nabhahn" src="./assets/images/WEB_20220604_NabhahnKamaal_KathleenDreierPhotography_KMDP0105.jpg"/>
                <p id="about-me-text">My name is Nabhahn Kamaal. I was born and rasied in Tucson, Az. I've always wanted to be a programmer and 
                    I started the University of Arizona full-stack flex bootcamp to do just that. Currently I am a Care Giver for United Cerebral Palsy of Southern Arizona. Im hoping
                    to use this program to start a career in writing efficient and capable programs.
                </p>
            </section>

        </div>
        <div id="contact-me">

            <h3>Contact Me</h3>
            <section>
                <ul>
                    <li>
                        <p>(520)-719-7450</p>
                    </li>
                    <li>
                        <p>NabhahnK@gmail.com</p>
                    </li>
                    <li>
                        <a href="https://github.com/NabhahnK">GitHub</a>
                    </li>
                </ul>
            </section>

        </div>

    </main>